<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DL百思不得姐.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6519B0601CE61FFF00DD1CDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6519B0791CE6200000DD1CDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6519B0841CE6200000DD1CDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
